{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/homepage.css') }}">
{% endblock %}

{% block blob %}
    <div class="info">
        <p>Place for friends to stay <span class="highlight">together</span></p>
    </div>
{% endblock %}